@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
};

@import "tailwindcss/base";

@import url('https://fonts.googleapis.com/css?family=Niramit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');

@import "tailwindcss/components";


// Custom SCSS
@import "components/buttons";
@import "components/forms";
@import "components/headings";
@import "@fortawesome/fontawesome-free";

@import "tailwindcss/utilities";

.chat::-webkit-scrollbar-track
{
  border-radius: 0px;
  background-color: #3F495A;
}

.chat::-webkit-scrollbar
{
  width: 10px;
  background-color: #3F495A;
}

.chat::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #1F2225;
}

.hashtag-bar::-webkit-scrollbar-track
{
  border-radius: 0px;
  background-color: #3F495A;
}

.hashtag-bar::-webkit-scrollbar
{
  width: 10px;
  background-color: #3F495A;
}

.hashtag-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1F2225;
}

.sidebar-users::-webkit-scrollbar-track
{
  border-radius: 0px;
  background-color: #3F495A;
}

.sidebar-users::-webkit-scrollbar
{
  width: 10px;
  background-color: #3F495A;
}

.sidebar-users::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #1F2225;
}

.channel-bar::-webkit-scrollbar-track
{
  border-radius: 0px;
  background-color: #1F2225;
}

.channel-bar::-webkit-scrollbar
{
  width: 10px;
  background-color: #1F2225;
}

.channel-bar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3F495A;
}
